html {
	background : none;
	font-family: 'IBM Plex Sans', serif;
}

body {
	color    : #000000;
	padding  : 0;
	margin   : 0;
	font-size: 8pt;
	width    : 100%;
}

table {
	overflow       : auto;
	border-collapse: collapse;
	width          : 100%;
}

table tr td {
	font-size: 8pt;
}

#cvbanner {
	text-align: center;
}

.IPA {
	font-family: 'Iosevka', monospace;
	color      : #777777;
	font-size  : 8pt;
}

a {
	outline        : none;
	color          : black;
	font-weight    : bold;
	text-decoration: none;
}

td {
	border        : #dddddd solid 0.5pt;
	padding-bottom: -5px;
}

.section {
	margin  : 0;
	padding : 5px;
	overflow: auto;
	display : block;
}

.list-section {
	display     : block;
	float       : left;
	margin-right: 20px;
}

ul {
	list-style-type     : square;
	list-style-position : outside;
	padding-inline-start: 20px;
}

.cvtable,
.cvtable tr,
.cvtable td {
	padding       : 0;
	margin        : 0;
	vertical-align: top;
}

.cv-table-title {
	margin-left     : -80px;
	margin-right    : 40px;
	display         : block;
	padding         : 5px;
	border-right    : 1px solid #dddddd;
	text-align      : right;
	font-size       : 8pt;
	transform-origin: top right;
	transform       : rotate(270deg);
}

.banner,
.banner-notes tr td {
	text-align: center;
	border    : none;
}

.banner {
	padding-bottom: 10px;
	margin-bottom : 30px;
	border-bottom : #000000 dashed 2px;
}

.banner-notes {
	display     : inline;
	margin-left : auto;
	margin-right: auto;
}

.banner-notes tr td {
	padding  : 5px;
	font-size: 8pt;
}

.banner-name {
	font-size: 16pt;
}

.cvtable tr td {
	border: none;
}

p {
	margin: 0;
}

.banner-address {
	font-style: italic;
}

.banner-position {
	font-size: 8pt;
}

.inner-table tr td {
	padding: 5px;
	border : 1px dashed #dddddd;
}

.footer {
	font-style: italic;
	width     : 100%;
	margin-top: 10px;
	text-align: center;
}