@font-face {
    font-family: MainMono;
    src: url(HackGenConsole-Regular.ttf);
}

@font-face {
    font-family: IPAFont;
    src: url(fira-sans.regular.ttf);
}

@font-face {
    font-family: MainMono;
    src: url(HackGenConsole-Bold.ttf);
    font-weight: bold;
}

html {
    background: #121212;
    color: white;
    font-family: "MainMono";
}

body {
    margin: auto;
    padding: 15rem;
    padding-bottom: 100rem;
    font-size: 16rem;
}

table {
    overflow: auto;
}

table,
tr,
td {
    font-size: 16rem;
}

h1 {
    font-size: 32rem;
}

h2 {
    font-size: 24rem;
}

@media (orientation: landscape) {
    html {
        font-size: 0.25mm;
    }
    body {
        max-width: 140mm;
    }
    #nav {
        opacity: 0;
        white-space: nowrap;
    }
    #coa {
        border-bottom: #00000000 dotted 2rem;
    }
    #nav_cont {
        width: 150rem;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 0.6mm;
    }
    body {
        max-width: none;
    }
    #nav {
        opacity: 1;
        white-space: normal;
    }
    #coa {
        border-bottom: white dotted 2rem;
    }
    #nav_cont {
        width: 100%;
    }
}

.IPA {
    font-family: IPAFont;
    color: #ffffcc;
}

a {
    outline: none;
    color: #99bbbb;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a:hover {
    color: #ccffff;
    font-weight: bold;
}

td {
    padding-right: 15rem;
}

.buttons {
    display: flex;
    margin-top: -10rem;
    margin-bottom: 10rem;
}

div.jp {
    line-height: 24rem;
}

.section {
    margin: 0;
    padding: 0;
    overflow: auto;
    display: block;
}

.section.collapsed {
    max-height: 0;
    display: none;
}

div {
    overflow: auto;
}

button {
    outline: none;
    background: none;
    border: solid #3f3f3f 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #3f3f3f;
    padding: 0;
    height: 22rem;
    width: 22rem;
    font-family: MainMono;
    font-size: 12rem;
    border-radius: 4rem;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
}

button::-moz-focus-inner {
    border: 0;
}

li,
td {
    padding-bottom: 10rem;
}

button:hover,
.selected {
    border: solid #ff6254 1.5rem;
    color: #ff6254;
}

#coa {
    overflow: hidden;
    position: relative;
    display: flex;
    transition: border-bottom 0.5s ease-in-out;
}

#blazon {
    width: 150rem;
}

#nav {
    overflow: hidden;
    width: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

#nav_cont {
    display: flex;
    justify-content: right;
    margin: auto;
    overflow: visible;
    height: 150rem;
    position: relative;
    transition: width 0.5s ease-in-out;
}

#coa:hover #nav_cont {
    width: 100%;
}

#coa:hover {
    border-bottom: white dotted 2rem;
}

#coa:hover #nav {
    display: block;
    opacity: 1;
}

#dir {
    margin-top: 15rem;
    line-height: 18rem;
    font-size: 12rem;
}

ul {
    list-style-type: square;
    list-style-position: outside;
}

.smaller {
    text-indent: 16rem;
    padding: 30rem;
    font-style: italic;
}

.smaller>a {
    opacity: 0;
    transition-delay: 1s;
}

.smaller:hover>a {
    opacity: 1;
}

#calvino {
    font-size: 14rem;
    overflow: visible;
}

#quote {
    margin-top: -20rem;
}