@font-face {
    font-family: MainMono;
    src: url(PixelMplus12-Regular.ttf);
}

@font-face {
    font-family: MainMono;
    src: url(PixelMplus12-Bold.ttf);
    font-weight: bold;
}

html {
    background: #121212;
    color: white;
    font-family: "MainMono";
}

body {
    margin: auto;
    padding: 15rem;
    padding-bottom: 100rem;
    font-size: 16rem;
}

table {
    overflow: auto;
}

table,
tr,
td {
    font-size: 16rem;
}

h1 {
    font-size: 32rem;
}

h2 {
    font-size: 24rem;
}

@media (orientation: landscape) {
    html {
        font-size: 1px;
    }
    body {
        max-width: 500px;
    }
    #nav {
        display: none;
    }
    #coa {
        border-bottom: #00000000 dotted 2rem;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 3px;
    }
    body {
        max-width: none;
    }
    #nav {
        display: block;
    }
    #coa {
        border-bottom: white dotted 2rem;
    }
}

.IPA {
    font-family: UnifontMedium;
    color: #ffffcc;
}

a {
    color: #aabbbb;
    text-decoration: none;
}

a:hover {
    color: #ccffff;
    font-weight: bold;
}

td {
    padding-right: 15rem;
}

.buttons {
    display: flex;
    margin-top: -10rem;
    margin-bottom: 10rem;
}

.jp {
    line-height: 24rem;
}

.section {
    margin: 0;
    padding: 0;
    overflow: auto;
    display: block;
}

.section.collapsed {
    max-height: 0;
    display: none;
}

div {
    overflow: auto;
}

button {
    background: none;
    border: solid #3f3f3f 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #3f3f3f;
    padding: 0;
    height: 16rem;
    width: 16rem;
    font-family: MainMono;
    font-size: 10rem;
    border-radius: 2rem;
    font-weight: bold;
}

li,
td {
    padding-bottom: 10rem;
}

button:hover {
    border: solid #ffffcc 1rem;
    color: #ffffcc;
}

#coa {
    display: flex;
    justify-content: center;
}

#coa>img {
    max-width: 150rem;
}

#nav {
    width: 100%;
}

#coa:hover {
    justify-content: right;
    border-bottom: white dotted 2rem;
}

#coa:hover>#nav {
    display: block;
}

#dir {
    margin-top: 15rem;
    line-height: 18rem;
    font-size: 12rem;
}

ul {
    list-style-type: square;
    list-style-position: outside;
}