@font-face {
    font-family: MainMono;
    font-display: swap;
    src: url(HackGenConsole-Regular.ttf);
}

@font-face {
    font-family: IPAFont;
    font-display: swap;
    src: url(fira-sans.regular.ttf);
}

@font-face {
    font-family: MainMono;
    font-display: swap;
    src: url(HackGenConsole-Bold.ttf);
    font-weight: bold;
}

#divider {
    height: 150rem;
}

html {
    background: #121212;
    color: #dddddd;
    font-family: "MainMono", monospace;
}

body {
    margin: auto;
    padding: 15rem;
    padding-bottom: 100rem;
    font-size: 18rem;
}

table {
    overflow: auto;
}

table,
tr,
td {
    font-size: 18rem;
}

h1 {
    color: #ffffff;
    font-size: 32rem;
}

h2 {
    color: #ffffff;
    font-size: 24rem;
}

@media (orientation: landscape) {
    html {
        font-size: 0.25mm;
    }
    body {
        max-width: 140mm;
    }
    #nav {
        opacity: 0;
        white-space: nowrap;
    }
    #coa {
        border-bottom: #00000000 dotted 2rem;
        max-width: 140mm;
        width: calc(100vw - 30rem);
    }
    #nav_cont {
        width: 150rem;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 0.6mm;
    }
    body {
        max-width: none;
    }
    #nav {
        opacity: 1;
        white-space: normal;
    }
    #coa {
        border-bottom: white dotted 2rem;
        height: 200rem;
        width: calc(100vw - 30rem);
    }
    #nav_cont {
        width: 100%;
    }
}

.IPA {
    font-family: IPAFont, monospace;
    color: #777777;
}

a {
    outline: none;
    color: #ccaa66;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a:hover {
    color: #ffcc99;
    font-weight: bold;
}

td {
    padding-right: 15rem;
}

.buttons {
    display: flex;
    margin-top: -10rem;
    margin-bottom: 10rem;
}

div.jp {
    line-height: 24rem;
}

.section {
    margin: 0;
    padding: 0;
    overflow: auto;
    display: block;
}

.section.collapsed {
    max-height: 0;
    display: none;
}

div {
    overflow: auto;
}

button {
    outline: none;
    border: none;
    background: #dddddd;
    margin-top: 0;
    margin-left: 5rem;
    margin-right: 8rem;
    margin-bottom: 5rem;
    color: #121212;
    padding: 0;
    height: 22rem;
    width: 22rem;
    font-family: MainMono;
    font-size: 14rem;
    box-shadow: 4rem 4rem #121212, 4rem 4rem 0rem 1rem #dddddd;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

button::-moz-focus-inner {
    border: 0;
}

li,
td {
    padding-bottom: 10rem;
}

button:hover,
.selected {
    margin-left: 9rem;
    margin-top: 4rem;
    margin-right: 4rem;
    box-shadow: 0rem 0rem #121212, 0rem 0rem 0rem 1rem #dddddd;
}

#coa {
    overflow: hidden;
    position: absolute;
    display: block;
    height: 150rem;
    background: #121212dd;
    transition: all 0.5s ease-in-out;
}

#blazon {
    padding: 15rem;
    width: 110rem;
    filter: hue-rotate(10deg) saturate(35%) brightness(200%);
    transition: filter 0.5s ease-in-out;
}

#nav {
    display: block;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    overflow: visible;
}

#nav_cont {
    display: flex;
    justify-content: right;
    margin: auto;
    overflow: visible;
    height: 150rem;
    position: relative;
    transition: all 0.5s ease-in-out;
}

#coa:hover #blazon {
    filter: hue-rotate(60deg) saturate(50%) brightness(200%);
}

#coa:hover #nav_cont {
    width: 100%;
    height: 200rem;
}

#coa:hover {
    border-bottom: white dotted 2rem;
    height: 200rem;
}

#coa:hover #nav {
    display: block;
    opacity: 1;
}

#dir {
    margin-top: 15rem;
    line-height: 18rem;
    font-size: 14rem;
}

ul {
    list-style-type: square;
    list-style-position: outside;
}

.smaller {
    text-indent: 16rem;
    padding: 30rem;
    font-style: italic;
}

.smaller>a {
    opacity: 0;
    transition-delay: 1s;
}

.smaller:hover>a {
    opacity: 1;
}

#calvino {
    font-size: 16rem;
    overflow: visible;
}

#quote {
    margin-top: -20rem;
}

#music b {
    color: #ffcc99;
}

audio {
    border: 2px solid #dddddd;
}