html {
    background : #111112;
    color      : #dddddd;
    font-family: 'IBM Plex Sans', 'Noto Sans JP', Arial, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /* Firefox */
}

body {
    margin        : auto;
    padding       : 15rem;
    padding-bottom: 100rem;
    font-size     : 16rem;
}

table {
    overflow: auto;
}

table,
tr,
td {
    font-size: 16rem;
}

h1 {
    font-weight: 800;
    color      : #ffffff;
    font-size  : 28rem;
}

h2 {
    font-weight: 800;
    color      : #ffffff;
    font-size  : 20rem;
}

html {
    font-size: 0.25mm;
}

body {
    max-width: 140mm;
}

#nav {
    opacity    : 0;
    white-space: nowrap;
}

#coa {
    max-width: 140mm;
    width    : calc(100vw - 30rem);
}

#nav_cont {
    width : 150rem;
    height: 150rem;
}

#divider {
    height: 150rem;
}

.IPA {
    font-family: "Fira Code", monospace;
    color      : #777777;
    font-size  : 14rem;
}

#nameheader {
    display   : block;
    float     : right;
    margin    : 15px;
    margin-top: 45px;
    font-size : 32px;
    color     : #111112;
}

a {
    outline        : none;
    color          : #82d7ff;
    text-decoration: none;
    transition     : all 0.25s ease-in-out;
}

a:hover {
    color           : #111112;
    background-color: #82d7ff;
}

td {
    padding-right: 15rem;
}

.buttons {
    display      : flex;
    margin-top   : -10rem;
    margin-bottom: 10rem;
}

.section {
    margin  : 0;
    padding : 0;
    overflow: auto;
    display : block;
}

.section.collapsed {
    max-height: 0;
    display   : none;
}

.tab-button {
    border       : none;
    background   : #dddddd;
    margin-top   : 0;
    margin-left  : 5rem;
    margin-right : 8rem;
    margin-bottom: 5rem;
    color        : #111112;
    padding      : 0;
    height       : 22rem;
    width        : 22rem;
    font-family  : "Fira Code", monospace;
    font-size    : 12rem;
    box-shadow   : 4rem 4rem #111112, 4rem 4rem 0rem 1rem #dddddd;
    font-weight  : bold;
    transition   : all 0.25s ease-in-out;
}

button {
    outline    : none;
    font-family: "Fira Code", monospace;
    font-size  : 12rem;
    font-weight: bold;
}

button::-moz-focus-inner {
    border: 0;
}

li,
td {
    padding-bottom: 10rem;
}

.tab-button:hover,
.selected {
    margin-left : 9rem;
    margin-top  : 4rem;
    margin-right: 4rem;
    box-shadow  : 0rem 0rem #111112, 0rem 0rem 0rem 1rem #dddddd;
}

#coa {
    position  : relative;
    padding   : 15rem;
    height    : 140rem;
    display   : block;
    background: #ddd;
    transition: all 0.5s ease-in-out;
    overflow  : hidden;
}

.picture-cont {
    float      : left;
    max-width  : 200rem;
    padding-top: 50rem;
}

.picture-me {
    max-width    : 200rem;
    width        : 100%;
    border-radius: 100%;
}

.data-points {
    padding: 15rem;
    display: block;
    float  : left;
    width  : calc(100% - 230rem);
}

#blazon {
    float     : left;
    padding   : 15rem;
    width     : 110rem;
    transition: all 0.5s ease-in-out;
    transform : rotate(0deg);
}

#coa:hover #blazon {
    transform: rotate(180deg);
}

#coa:hover {
    height: 170rem;
}

#navigation {
    background     : #111112;
    width          : 100%;
    display        : block;
    position       : absolute;
    top            : 170rem;
    left           : 0;
    height         : 30rem;
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}

#navigation>li {
    display         : block;
    float           : left;
    height          : 40rem;
    padding         : 0;
    margin          : 0;
    margin-left     : -1rem;
    background-color: #dddddd;
    border          : solid 1rem #111112;
    border-top      : none;
    color           : #111112;
}

#navigation>li:hover {
    background-color: #111112;
    color           : #ddd;
}

code{
    color: #777;
}

#navigation>li>a {
    padding      : 7rem;
    padding-left : 15rem;
    padding-right: 15rem;
    display      : block;
    margin       : 0;
    font-size    : 12rem;
    font-weight  : normal;
    color        : inherit;
}

#navigation>li>a:hover {
    background: none;
}


#dir {
    margin-top : 15rem;
    line-height: 18rem;
    font-size  : 12rem;
}

ul {
    list-style-type    : square;
    list-style-position: outside;
}

.smaller {
    text-indent: 16rem;
    padding    : 30rem;
    font-style : italic;
}

.smaller>a {
    opacity         : 0;
    transition-delay: 1s;
}

.smaller:hover>a {
    opacity: 1;
}

#calvino {
    font-size: 14rem;
    overflow : visible;
}

#quote {
    margin-top: -20rem;
}

#music b {
    color: #82d7ff;
}

audio {
    border: 2px solid #dddddd;
}

#music-buttons {
    display        : flex;
    justify-content: center;
}

#play-pause {
    background-color: #dddddd;
    border          : none;
    height          : 22rem;
    color           : #111112;
    box-shadow      : 0rem 0rem 0rem 4rem #111112, 0rem 0rem 0rem 5rem #dddddd;
    margin-bottom   : 5rem;
    margin-top      : 10rem;
    transition      : all 0.1s ease-in-out;
}

#play-pause:active {
    box-shadow: 0rem 0rem 0rem 0rem #111112, 0rem 0rem 0rem 1rem #dddddd;
}

#waveform {
    border: 1rem solid #ffffff;
}

.record {
    position        : relative;
    background-color: #8295ff;
    border          : none;
    padding         : 5rem;
    width           : 50%;
    margin          : 2rem;
    height          : 26rem;
    transition      : all 0.5s ease-in-out;
}

.record:hover {
    background-color: #82d7ff;
}

.record:before {
    content      : '';
    position     : absolute;
    top          : 0;
    right        : 0;
    border       : none;
    border-top   : 14rem solid #111112;
    border-left  : 14rem solid transparent;
    border-bottom: 14rem solid #111112;
    width        : 0;
    transition   : all 0.5s ease-in-out;
}

.selected-record {
    background-color: #82d7ff;
    width           : calc(100% - 14rem);
}

.selected-record:before {
    content      : '';
    position     : absolute;
    top          : 0;
    left         : 0;
    border       : none;
    border-top   : 14rem solid #111112;
    border-right : 14rem solid transparent;
    border-bottom: 14rem solid #111112;
    width        : 0;
}